section{
    padding: 4em;
    .main_section{
        height: 75vh;
        display: flex;
        justify-content: space-around;
        .main_about{
            text-align: left;
            line-height: 0.9;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;
        width: 20vw;
        border-radius: 5px;
        box-shadow: 4px 3px 5px 2px rgba(0,0,0, 0.8);
    }
    img{
        width: 50vh;
        height: 50vh; 
    }
}
